body{
    
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}
.show{
    background-color:lightgrey;
    color: white;
}

.nav-list {
    display:flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content:space-evenly;
    flex-wrap: wrap  ;
    

}
.nav-list li{
    flex-grow: 0;
    flex-shrink: 0;
     
}

header{
    
    background-color:lightgrey;;
    
}

nav{
    
    color: black;
    
}
.columns{
    display:flex;
    gap: 2rem;
    color: black;

}
.columns > *{
    flex: 1;
    width:100%
}

@media(min-width: 750px){
    .columns{
        flex-direction: row
    }
}
.card{
    padding: 1rem;
    

}
